<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brand name</title>
    <link rel="icon" type="image/png" sizes="32x32" href="https://dash-streaming.xyz/assets/favicon/favicon-32x32.png?v=2">
    <link rel="icon" type="image/png" sizes="16x16" href="https://dash-streaming.xyz/assets/favicon/favicon-16x16.png?v=2">
    <link rel="shortcut icon" href="https://dash-streaming.xyz/assets/images/assets/favicon/favicon.ico?v=2">
    <link rel="stylesheet" href="../css/style.css" />
    <script src="../src/main.js"></script>
</head>

<body>
    <div class="wrapper">
        <!-- HEADER -->
        <header>
            <div class="brandLogo">
                <a id="logo" href="/"><img src="https://dash-streaming.xyz/assets/images/logo.png"
                        alt="Logo Image" /></a>
            </div>
            <nav class="main-nav">
                <a href="#home">Home</a>
                <a href="#tvShows">TV Shows</a>
                <a href="#movies">Movies</a>
                <a href="#originals">Originals</a>
                <a href="#">Recently Added</a>
            </nav>
            <nav class="sub-nav">
                {{!-- <a href="#"><i class="fas fa-search sub-nav-logo"></i></a>
                <a href="#"><i class="fas fa-bell sub-nav-logo"></i></a> --}}
                <a href="account">
                    <img src="{{user.photo}}" class="profile-pic" alt="profile picture">
                </a>
            </nav>
        </header>
        <!-- END OF HEADER -->

        <!-- MAIN CONTAINER -->
        <section class="main-container">
            {{#each categories}}
            <h1>{{text}}</h1>
            <div class="box">
                {{#each movies}}
                <a href="https://dash-streaming.xyz/player/{{this._id}}" class="movie">
                    <img src="https://cdn.dash-streaming.xyz/{{this.fileName}}-thumb.jpg" alt="" />
                </a>
                {{/each}}
            </div>
            {{/each}}
        </section>
        <!-- END OF MAIN CONTAINER -->
        <!-- LINKS -->
        <section class="link">
            <div class="logos">
                <a href="#"><i class="fab fa-facebook-square fa-2x logo"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x logo"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x logo"></i></a>
                <a href="#"><i class="fab fa-youtube fa-2x logo"></i></a>
            </div>
            <div class="sub-links">
                <ul>
                    <li><a href="#">Audio and Subtitles</a></li>
                    <li><a href="#">Audio Description</a></li>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Gift Cards</a></li>
                    <li><a href="#">Media Center</a></li>
                    <li><a href="#">Investor Relations</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Legal Notices</a></li>
                    <li><a href="#">Corporate Information</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </section>
        <!-- END OF LINKS -->

        <!-- FOOTER -->
        <footer>
            <p>&copy 2020-2020 Brand name, Inc.</p>
        </footer>
    </div>
</body>

</html>