<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brand name</title>
    <link rel="icon" type="image/png" sizes="32x32"
        href="https://streaming-ondemand.xyz/assets/favicon/favicon-32x32.png?v=2">
    <link rel="icon" type="image/png" sizes="16x16"
        href="https://streaming-ondemand.xyz/assets/favicon/favicon-16x16.png?v=2">
    <link rel="shortcut icon" href="https://streaming-ondemand.xyz/assets/images/assets/favicon/favicon.ico?v=2">
    <link rel="stylesheet" href="../css/player.css" />
    <script src="../src/shaka-player.compiled.js"></script>
    <script src="../src/player.js"></script>
</head>

<body>
    <video id="video" {{!-- uri="https://cdn.streaming-ondemand.xyz/{{movie.fileName}}.mpd" --}}
        uri="https://cdn.streaming-ondemand.xyz/small.mpd"
        poster="//cdn.streaming-ondemand.xyz/{{movie.fileName}}-thumb.jpg" controls autoplay></video>
</body>

</html>