<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Netflix Clone</title>
    <link rel="icon" type="image/png" sizes="32x32" href="https://dash-streaming.xyz/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://dash-streaming.xyz/assets/images/favicon-16x16.png">
    <link rel="shortcut icon" href="https://dash-streaming.xyz/assets/images/assets/images/favicon.ico">
    <link rel="stylesheet" href="../css/player.css" />
    <script src="../src/shaka-player.compiled.js"></script>
    <script src="../src/player.js"></script>
</head>

<body>
    <video id="video" uri="https://cdn.dash-streaming.xyz/{{movie.fileName}}.mpd"
        poster="//cdn.dash-streaming.xyz/{{movie.fileName}}-thumb.jpg" controls autoplay></video>
</body>

</html>